#apex_legends {
    width:600px;
}
#Detective_Dfavgunapex {
    width:40px;
    padding-left:15px;
}
.p {
margin-left: 15px;
}
#LogoDD {
    width: 200px;
}
#LogoJZ {
    width: 200px;
    margin-left: 1210px;
}
#TearlistApex {
    width: 300px;
    margin-right: 660px;
}